<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sebastian.devmonkey.capstoneproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.Journal.AddJournal"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Journal.UpdateDeleteJournal"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Stories.StoryCategory"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Flash.FlashCards"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Stories.StoryReading"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Journal.JournalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Poem.PoemCategory"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.Terminologies"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Custom">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HowToUse"
            android:screenOrientation="portrait"
            android:theme="@style/Custom"
            >
        </activity>
    </application>

</manifest>